@import 'true';

@import '../src/breakpoints.scss';

@include describe('Breakpoint map conversion') {
  @include it('Converts to the correct structure') {
    $breakpoints: create-breakpoints(
      (
        'small': null,
        'medium': 400px,
        'large': 800px
      )
    );
    $expected: (
      'small': (
        'lower': null,
        'upper': 400px
      ),
      'medium': (
        'lower': 400px,
        'upper': 800px
      ),
      'large': (
        'lower': 800px,
        'upper': null
      )
    );
    @include assert-equal($breakpoints, $expected);
  }
}

$test-breakpoints: (
  'small': (
    'lower': null,
    'upper': 400px
  ),
  'medium': (
    'lower': 400px,
    'upper': 800px
  ),
  'large': (
    'lower': 800px,
    'upper': 1200px
  ),
  'huge': (
    'lower': 1200px,
    'upper': null
  )
);

@include describe('Breakpoint down') {
  @include it('Creates the correct media query') {
    @include assert {
      @include output {
        @include breakpoint-down('medium', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        @media (max-width: 800px) {
          background: red;
        }
      }
    }
  }
  @include it('Does not create a media query when not required') {
    @include assert {
      @include output {
        @include breakpoint-down('huge', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        background: red;
      }
    }
  }
}

@include describe('Breakpoint up') {
  @include it('Creates the correct media query') {
    @include assert {
      @include output {
        @include breakpoint-up('medium', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        @media (min-width: 400px) {
          background: red;
        }
      }
    }
  }
  @include it('Does not create a media query when not required') {
    @include assert {
      @include output {
        @include breakpoint-up('small', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        background: red;
      }
    }
  }
}

@include describe('Breakpoint between') {
  @include it('Works with range between two breakpoints') {
    @include assert {
      @include output {
        @include breakpoint('medium', 'large', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        @media (min-width: 400px) and (max-width: 1200px) {
          background: red;
        }
      }
    }
  }
  @include it('Works with the same breakpoint for both bounds') {
    @include assert {
      @include output {
        @include breakpoint('medium', 'medium', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        @media (min-width: 400px) and (max-width: 800px) {
          background: red;
        }
      }
    }
  }
  @include it('Omits lower bound when not required') {
    @include assert {
      @include output {
        @include breakpoint('small', 'medium', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        @media (max-width: 800px) {
          background: red;
        }
      }
    }
  }
  @include it('Omits upper bound when not required') {
    @include assert {
      @include output {
        @include breakpoint('large', 'huge', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        @media (min-width: 800px) {
          background: red;
        }
      }
    }
  }
  @include it('Omits both bounds when not required') {
    @include assert {
      @include output {
        @include breakpoint('small', 'huge', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        background: red;
      }
    }
  }
}

@include describe('Breakpoint only') {
  // The breakpoint-only mixin does not need to be thoroughly tested as it uses
  // the breakpoint mixin internally.
  @include it('Creates the correct media query') {
    @include assert {
      @include output {
        @include breakpoint-only('medium', $test-breakpoints) {
          background: red;
        }
      }
      @include expect {
        @media (min-width: 400px) and (max-width: 800px) {
          background: red;
        }
      }
    }
  }
}
