@use 'utilities';

// Media query enabled up to the upper bound of the breakpoint.
@mixin media-under($key, $breakpoints) {
  $upper: utilities.upper-breakpoint($key, $breakpoints);
  @if $upper {
    @media (max-width: $upper) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media query enabled over the lower bound of the breakpoint.
@mixin media-over($key, $breakpoints) {
  $lower: utilities.lower-breakpoint($key, $breakpoints);
  @if $lower {
    @media (min-width: $lower) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media query enabled between the lower bound of the lower breakpoint and the
// upper bound of the upper breakpoint.
@mixin media-between($lower-key, $upper-key, $breakpoints) {
  $lower: utilities.lower-breakpoint($lower-key, $breakpoints);
  $upper: utilities.upper-breakpoint($upper-key, $breakpoints);
  @if $lower and $upper {
    @media (min-width: $lower) and (max-width: $upper) {
      @content;
    }
  } @else if $lower {
    @include media-over($lower-key, $breakpoints) {
      @content;
    }
  } @else if $upper {
    @include media-under($upper-key, $breakpoints) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media query enabled between the bounds of a single breakpoint.
@mixin media-only($key, $breakpoints) {
  @include media-between($key, $key, $breakpoints) {
    @content;
  }
}
